
*{
  padding: 0px;
  margin: 0px;
  
}
html,body,#root {
  height: 100%;
}
body{
  touch-action: none;
}
.am-tab-bar{
  /* position: fixed; */
  /* bottom: 0px; */
  z-index: 100;
  width: 100%;
  height: 50px!important;
  /* z-index: 100; */
}
.coverbar{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
}
.coverbar .gaosibar {
  position: absolute;
  top: 0;
  width:100%;
  background-color: white;
  height: 50px;
  filter: blur(20px);
}
.am-search{
  width: 250px;
  background-color: transparent!important;
}
#container{
  padding-top: 45px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(236, 233, 233, 0.904);
}

.am-search-cancel{
  margin-right: -40px!important;
}
img{
  width:100%
}
.am-navbar{
  position: fixed;
  top: 0px;
  height: 45px;
  z-index: 100;
  width: 100%;
  background:#f2473d!important;
}
.am-activity-indicator{
  text-align: center;
  /* margin-left: 45%; */
}